.card-2 {
    display: grid;
    padding-top: 4rem;
    background: linear-gradient(rgba(50, 60, 70, 0.9), rgba(50, 60, 70, 0.9)), no-repeat;
    background-size: cover;
    text-align: center;
    padding-bottom: 4rem;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
.gradient {
  background: linear-gradient(125deg, #FF6B6B, #efb803, #75c232, #118AB2);
  /* Замените цвета на нужные вам */
  width: 100%;
  height: 100vh; /* Высота по вашему желанию */
}
.border-gradient {

  border: 2px solid;
  border-image: linear-gradient(to right, #FF6B6B, #FFD166,  #75c232, #11b27a) 1;
  border-radius: 20px;
}

