.card-2 {
    display: grid;
    padding-top: 4rem;
    background: linear-gradient(rgba(50, 60, 70, 0.9), rgba(50, 60, 70, 0.9)), no-repeat;
    background-size: cover;
    text-align: center;
    padding-bottom: 4rem;
}
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
.gradient {

  border: 5px solid transparent; /* Параметры рамки */
  background: 
   linear-gradient(#fff, #fff) padding-box, /* Белый фон */
   linear-gradient(45deg, #FF6B6B, #FFD166,  #75c232, #11b27a) border-box; /* Градиентная рамка */
  border-radius: 20px; /* Радиус скругления */
}
.gradient2 {

  border: 2px solid transparent; /* Параметры рамки */
  background: 
   linear-gradient(#fff, #fff) padding-box, /* Белый фон */
   linear-gradient(45deg, #FF6B6B, #FFD166,  #75c232, #11b27a) border-box; /* Градиентная рамка */
  border-radius: 20px; /* Радиус скругления */
}
.fon-gradient {

  background: linear-gradient(125deg, #FF6B6B, #efb803, #75c232, #118AB2);
  /* Замените цвета на нужные вам */
  width: 100%;
  height: 100vh; /* Высота по вашему желанию */
}


.selectize-control.single .selectize-input, .selectize-control.single .selectize-input input {
  font-size: .875rem;
  padding-bottom: 0;
}
  .selectize-input {
    background-color: rgb(249 250 251 2);
      border: none; /* Dark border */
      color: rgb(17 24 39 / var(--tw-text-opacity));
      font-size: .875rem;
line-height: 1.25rem;
  }

  .selectize-dropdown-content {
    color: rgb(17 24 39 / var(--tw-text-opacity));
    
  }

  .selectize-input.focus {
      border-color: #ed8936; /* Orange border on focus */
  }
  .selectize-input > div {
      color: rgb(17 24 39 / var(--tw-text-opacity)); /* Light text for selected items */
  }
  .selectize-control.single .selectize-input {
    
      box-shadow: none;
      background-image:none;
      background-color: white;
      font-size: .875rem;
line-height: 1.25rem;
font-weight: 500;
color:black ;
  }
